.loadingContainer {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-45%);
}

.loading {
    fill: rgba(146, 90, 241, 1);
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
